@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;

  src: url("../../../fa/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../../../fa/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../../../fa/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../../../fa/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../../../fa/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../../../fa/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;

  src: url(../../../material_icons/fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../../../material_icons/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(../../../material_icons/fonts/MaterialIcons-Regular.woff) format("woff"), url(../../../material_icons/fonts/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons, #ballot-form .panel-default .panel-body form .checkbox input:checked + label::before, #ballot-form .panel-default .panel-body form .checkbox input:disabled + label::before, #navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a[rel=dark]:before,
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a[rel=light]:before, #ajax-preloader p:before {
  /* Preferred icon size */
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;

  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-14, #ballot-form .panel-default .panel-body form .checkbox input:checked + label.md-14::before, #ballot-form .panel-default .panel-body form .checkbox input:disabled + label.md-14::before, #navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-14[rel=dark]:before,
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-14[rel=light]:before, #ajax-preloader p.md-14:before {
  font-size: 14px;
  vertical-align: middle;
}

.material-icons.md-16, #ballot-form .panel-default .panel-body form .checkbox input:checked + label.md-16::before, #ballot-form .panel-default .panel-body form .checkbox input:disabled + label.md-16::before, #navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-16[rel=dark]:before,
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-16[rel=light]:before, #ajax-preloader p.md-16:before {
  font-size: 16px;
  vertical-align: middle;
}

.material-icons.md-18, #ballot-form .panel-default .panel-body form .checkbox input:checked + label.md-18::before, #ballot-form .panel-default .panel-body form .checkbox input:disabled + label.md-18::before, #navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-18[rel=dark]:before,
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-18[rel=light]:before, #ajax-preloader p.md-18:before {
  font-size: 18px;
  vertical-align: middle;
}

.material-icons.md-24, #ballot-form .panel-default .panel-body form .checkbox input:checked + label.md-24::before, #ballot-form .panel-default .panel-body form .checkbox input:disabled + label.md-24::before, #navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-24[rel=dark]:before,
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-24[rel=light]:before, #ajax-preloader p.md-24:before {
  font-size: 24px;
  vertical-align: middle;
}

.material-icons.md-36, #ballot-form .panel-default .panel-body form .checkbox input:checked + label.md-36::before, #ballot-form .panel-default .panel-body form .checkbox input:disabled + label.md-36::before, #navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-36[rel=dark]:before,
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-36[rel=light]:before, #ajax-preloader p.md-36:before {
  font-size: 36px;
  vertical-align: middle;
}

.material-icons.md-48, #ballot-form .panel-default .panel-body form .checkbox input:checked + label.md-48::before, #ballot-form .panel-default .panel-body form .checkbox input:disabled + label.md-48::before, #navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-48[rel=dark]:before,
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-48[rel=light]:before, #ajax-preloader p.md-48:before {
  font-size: 48px;
  vertical-align: middle;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark, #ballot-form .panel-default .panel-body form .checkbox input:checked + label.md-dark::before, #ballot-form .panel-default .panel-body form .checkbox input:disabled + label.md-dark::before, #navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-dark[rel=dark]:before,
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-dark[rel=light]:before, #ajax-preloader p.md-dark:before {
  color: rgba(0, 0, 0, .54);
}

.material-icons.md-dark.md-inactive, #ballot-form .panel-default .panel-body form .checkbox input:checked + label.md-dark.md-inactive::before, #ballot-form .panel-default .panel-body form .checkbox input:disabled + label.md-dark.md-inactive::before, #navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-dark.md-inactive[rel=dark]:before,
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-dark.md-inactive[rel=light]:before, #ajax-preloader p.md-dark.md-inactive:before {
  color: rgba(0, 0, 0, .26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light, #ballot-form .panel-default .panel-body form .checkbox input:checked + label.md-light::before, #ballot-form .panel-default .panel-body form .checkbox input:disabled + label.md-light::before, #navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-light[rel=dark]:before,
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-light[rel=light]:before, #ajax-preloader p.md-light:before {
  color: white;
}

.material-icons.md-light.md-inactive, #ballot-form .panel-default .panel-body form .checkbox input:checked + label.md-light.md-inactive::before, #ballot-form .panel-default .panel-body form .checkbox input:disabled + label.md-light.md-inactive::before, #navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-light.md-inactive[rel=dark]:before,
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a.md-light.md-inactive[rel=light]:before, #ajax-preloader p.md-light.md-inactive:before {
  color: rgba(255, 255, 255, .3);
}

html {
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

/* Sign-in logo */
#logo {
  z-index: 2000;
  margin-top: 20px;
}

/* Sign-in form */
#signin {
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
#signin h2 {
  text-transform: uppercase;
}
#signin form .well {
  background-color: transparent;
  border: none;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0 transparent;
}
#signin form .well .form-group .form-control {
  padding: 21px;
  font-size: 24px;
  box-shadow: 0 0 0 transparent;
}
#signin form .well .form-group .form-control + span {
  background-color: transparent;
  border-left: none;
}
#signin form .well .form-group .form-control + span:active, #signin form .well .form-group .form-control + span:focus {
  outline: none;
}
#signin form .well .form-group:last-child {
  margin-bottom: 0;
}
#signin form button {
  margin: 20px 0;
  color: #fff;
  text-transform: uppercase;
  border: 0;
}
#signin form button:active, #signin form button:focus {
  outline: 0;
}
#signin form button:hover:after {
  -webkit-animation: slide 1s infinite linear;
     -moz-animation: slide 1s infinite linear;
          animation: slide 1s infinite linear;
}
#signin form button:after {
  padding-left: 10px;
  font-family: 'fontAwesome';
  content: '\f105';
}
#signin form button:disabled:after {
  content: '';
}

/* Keyframes */
@keyframes slide {
  0% {
    padding-left: 10px;
  }
  50% {
    padding-left: 25px;
  }
  100% {
    padding-left: 10px;
  }
}
@-webkit-keyframes slide {
  0% {
    padding-left: 10px;
  }
  50% {
    padding-left: 25px;
  }
  100% {
    padding-left: 10px;
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
/* Site Info */
#header .jumbotron {
  padding-bottom: 150px;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
#header .jumbotron h1,
#header .jumbotron p {
  font-family: 'Georgia', serif;
  color: #22527b;
  text-align: center;
}
#header .jumbotron h1 {
  font-size: 48px;
}
#header .jumbotron p {
  font-size: 28px;
}

/* Ballot Form */
#ballot-form {
  margin-top: -80px;
}
#ballot-form .panel-default {
  border: 1px solid #22527b;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0 transparent;
}
#ballot-form .panel-default .panel-heading {
  background-color: #22527b;
  border: none;
  border-bottom: 1px solid #22527b;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
#ballot-form .panel-default .panel-heading h4 {
  font-weight: 700;
  color: #fff;
}
#ballot-form .panel-default .panel-heading h4 small {
  color: #fff;
}
#ballot-form .panel-default .panel-body {
  padding: 0;
}
#ballot-form .panel-default .panel-body form {
  padding-top: 20px;
  margin: 0;
  overflow: hidden;
}
#ballot-form .panel-default .panel-body form .checkbox {
  background-color: #f7f7f8;
}
#ballot-form .panel-default .panel-body form .checkbox input {
  position: absolute;
  left: -9999px;
}
#ballot-form .panel-default .panel-body form .checkbox label {
  position: relative;
  display: block;
  padding: 15px 30px;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}
#ballot-form .panel-default .panel-body form .checkbox label .fullname,
#ballot-form .panel-default .panel-body form .checkbox label .group {
  margin-left: 40px;
}
#ballot-form .panel-default .panel-body form .checkbox label .fullname {
  font-size: 16px;
  font-weight: 700;
  color: #404040;
}
#ballot-form .panel-default .panel-body form .checkbox label .group {
  font-size: 14px;
  font-weight: 400;
  color: gray;
}
#ballot-form .panel-default .panel-body form .checkbox label .avatar {
  margin-top: -5px;
          filter: hue-rotate(-45deg);

  -webkit-filter: hue-rotate(-45deg);
}
#ballot-form .panel-default .panel-body form .checkbox label::before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  display: block;
  width: 50px;
  height: 50px;
  content: '';
  border: 3px solid #f3cc33;
  border-top-left-radius: 100%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
#ballot-form .panel-default .panel-body form .checkbox input:checked + label {
  background-color: #d8eed8;
}
#ballot-form .panel-default .panel-body form .checkbox input:checked + label::before {
  padding: 5px;
  font-size: 36px;
  color: #5cb85c;
  content: '\E876';
  border: 3px solid #5cb85c;
}
#ballot-form .panel-default .panel-body form .checkbox input:disabled + label::before {
  padding: 5px;
  font-size: 36px;
  color: #ddd;
  content: '\E14C';
  border: 3px solid #ccc;
  -webkit-animation: spin .2s;
     -moz-animation: spin .2s;
          animation: spin .2s;
}
#ballot-form .panel-default .panel-body form .checkbox input:disabled + label {
  cursor: not-allowed;
}
#ballot-form .panel-default .panel-body form .checkbox input:disabled + label .fullname,
#ballot-form .panel-default .panel-body form .checkbox input:disabled + label .group {
  color: #ccc;
}
#ballot-form .panel-default .panel-body form .checkbox input:disabled + label .avatar {
          filter: blur(10px) hue-rotate(-45deg);

  -webkit-filter: blur(10px) hue-rotate(-45deg);
}
#ballot-form .panel-default .panel-body form a,
#ballot-form .panel-default .panel-body form button {
  margin: 40px 0;
  color: #fff;
  text-transform: uppercase;
  background-color: #22527b;
  border: 0;
}
#ballot-form .panel-default .panel-body form a:active, #ballot-form .panel-default .panel-body form a:focus,
#ballot-form .panel-default .panel-body form button:active,
#ballot-form .panel-default .panel-body form button:focus {
  outline: 0;
}
#ballot-form .panel-default .panel-body form a:hover,
#ballot-form .panel-default .panel-body form button:hover {
  background-color: #285f8f;
}
#ballot-form .panel-default .panel-body form a:hover:after,
#ballot-form .panel-default .panel-body form button:hover:after {
  -webkit-animation: slide .5s;
     -moz-animation: slide .5s;
          animation: slide .5s;
}
#ballot-form .panel-default .panel-body form a:after,
#ballot-form .panel-default .panel-body form button:after {
  padding-left: 10px;
  font-family: 'fontAwesome';
  content: '\f105';
}

/* Tally */
#voting-results {
  margin-top: -80px;
}
#voting-results .panel-default {
  border: 1px solid #22527b;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0 transparent;
}
#voting-results .panel-default .panel-heading {
  background-color: #22527b;
  border: none;
  border-bottom: 1px solid #22527b;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
#voting-results .panel-default .panel-heading h4 {
  font-weight: 700;
  color: #fff;
}
#voting-results .panel-default .panel-heading h4 small {
  color: #fff;
}
#voting-results .panel-default .panel-body {
  padding: 0;
}
#voting-results .panel-default .panel-body form {
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0;
  overflow: hidden;
}
#voting-results .panel-default .panel-body form div label {
  position: relative;
  display: block;
  padding: 15px 30px;
  margin-bottom: 0;
  white-space: nowrap;
  background-color: #f7f7f8;
}
#voting-results .panel-default .panel-body form div label .avatar {
  margin-top: -5px;
          filter: hue-rotate(-45deg);

  -webkit-filter: hue-rotate(-45deg);
}
#voting-results .panel-default .panel-body form div label .fullname,
#voting-results .panel-default .panel-body form div label .result {
  margin-left: 20px;
}
#voting-results .panel-default .panel-body form div label .fullname {
  font-size: 16px;
  font-weight: 700;
  color: #404040;
}
#voting-results .panel-default .panel-body form div label .result {
  font-size: 14px;
  font-weight: 400;
  color: gray;
}
#voting-results .panel-default .panel-body form div .progress {
  height: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #f7f7f8;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0 transparent;
}
#voting-results .panel-default .panel-body form div label:hover + .progress {
  background-color: #f9e2e2;
}

/* Animated "X" icon for the Bootstrap navbar-toggle
* Source: http://codepen.io/JulienMelissas/pen/LEBGLj?editors=1000
*/
.navbar-toggle {
  background: transparent !important;
  border: none;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all .2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
     -moz-transform-origin: 10% 10%;
      -ms-transform-origin: 10% 10%;
       -o-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  filter: alpha(opacity=0);
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
     -moz-transform-origin: 10% 90%;
      -ms-transform-origin: 10% 90%;
       -o-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0deg);
}
.navbar-toggle.collapsed .middle-bar {
  filter: alpha(opacity=100);
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0deg);
}

/* Navbar */
#navbar-wrapper {
  background-color: #337ab7;
}
#navbar-wrapper .affix {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  -webkit-transition: all .15s ease-in .15s;
     -moz-transition: all .15s ease-in .15s;
       -o-transition: all .15s ease-in .15s;
          transition: all .15s ease-in .15s;
}
#navbar-wrapper .navbar-default {
  padding: 0 20px;
  background-color: transparent;
}
#navbar-wrapper .navbar-default .navbar-toggle {
  background-color: transparent;
  border: none;
}
#navbar-wrapper .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
#navbar-wrapper .navbar {
  margin: 0;
  background-color: #337ab7;
  border: none;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
#navbar-wrapper .navbar .navbar-header .navbar-brand {
  padding-left: 0;
  font-weight: 700;
  color: #fff;
}
#navbar-wrapper .navbar .navbar-nav .active a {
  color: #fff;
  background-color: #285f8f;
}
#navbar-wrapper .navbar .navbar-nav .active a:active, #navbar-wrapper .navbar .navbar-nav .active a:focus, #navbar-wrapper .navbar .navbar-nav .active a:hover {
  color: #fff;
  background-color: #285f8f;
}
#navbar-wrapper .navbar .navbar-nav li a {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
#navbar-wrapper .navbar .navbar-nav li a:active, #navbar-wrapper .navbar .navbar-nav li a:focus, #navbar-wrapper .navbar .navbar-nav li a:hover {
  color: #fff;
  background-color: #2d6da3;
}
#navbar-wrapper .navbar .navbar-nav li a > .caret {
  margin-left: 5px;
}
#navbar-wrapper .navbar .navbar-nav .open a {
  color: #337ab7;
  background-color: #fff;
}
#navbar-wrapper .navbar .navbar-nav .open a:active, #navbar-wrapper .navbar .navbar-nav .open a:focus, #navbar-wrapper .navbar .navbar-nav .open a:hover {
  color: #337ab7;
  background-color: #fff;
}
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu {
  background-color: #fff;
  border: 0;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a[rel=dark]:before,
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a[rel=light]:before {
  font-size: 14px;
  vertical-align: middle;
  content: '\E3FA';
}
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a[rel=dark]:before {
  color: #337ab7;
}
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a[rel=light]:before {
  color: #337ab7;
}
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu .dropdown-header {
  font-size: 12px;
  color: #337ab7;
  text-transform: uppercase;
}
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a {
  font-weight: 400;
  text-transform: capitalize;
}
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a:active, #navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a:focus, #navbar-wrapper .navbar .navbar-nav .open .dropdown-menu li a:hover {
  color: #fff;
  background-color: #337ab7;
}
#navbar-wrapper .navbar .navbar-nav .open .dropdown-menu .divider {
  height: 1px;
  background-color: #8bb8df;
}

/* Dashboard */
#dashboard h2 {
  text-transform: capitalize;
}
#dashboard input,
#dashboard select {
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0 transparent;
}
#dashboard .form-group .input-group .form-control,
#dashboard .form-group .input-group .input-group-addon,
#dashboard .form-group .input-group input,
#dashboard .form-group .input-group select {
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0 transparent;
}
#dashboard .panel-default {
  border-color: #ccc;
}
#dashboard .panel-default .panel-heading {
  font-weight: 700;
  color: rgba(0, 0, 0, .6);
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid #ccc;
}
#dashboard .panel-default .panel-body {
  padding: 0;
}
#dashboard .panel-default .panel-body form {
  padding-top: 20px;
  margin: 0;
  overflow: hidden;
}
#dashboard .panel-default .panel-body form input,
#dashboard .panel-default .panel-body form select,
#dashboard .panel-default .panel-body form textarea {
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0 transparent;
}
#dashboard .panel-default .panel-body form input:active, #dashboard .panel-default .panel-body form input:focus, #dashboard .panel-default .panel-body form input:hover,
#dashboard .panel-default .panel-body form select:active,
#dashboard .panel-default .panel-body form select:focus,
#dashboard .panel-default .panel-body form select:hover,
#dashboard .panel-default .panel-body form textarea:active,
#dashboard .panel-default .panel-body form textarea:focus,
#dashboard .panel-default .panel-body form textarea:hover {
  border: 1px solid #5cb85c;
}
#dashboard .panel-default .panel-body form textarea {
  resize: none;
}
#dashboard .panel-default .panel-body form label {
  margin-bottom: 5px;
}
#dashboard .panel-default .panel-body form label span {
  margin-left: 3px;
  font-weight: 400;
  color: #d9534f;
}
#dashboard .panel-default .panel-body form label .sub-text {
  font-size: 12px;
  font-weight: normal;
  color: #d9534f;
}
#dashboard .panel-default .panel-body form .input-group .form-control,
#dashboard .panel-default .panel-body form .input-group .input-group-addon {
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0 transparent;
}
#dashboard .panel-default .panel-body form .alert {
  border: none;
  border-left: 3px solid;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
#dashboard .panel-default .panel-body form .alert .validation-errors {
  padding-left: 20px;
  margin: 10px 0;
}
#dashboard .panel-default .panel-body form .has-error input,
#dashboard .panel-default .panel-body form .has-error select,
#dashboard .panel-default .panel-body form .has-error textarea {
  border: 1px solid #a94442;
}
#dashboard .panel-default .panel-body form .has-error label {
  color: #a94442;
}
#dashboard .panel-default .panel-body form .btn-danger,
#dashboard .panel-default .panel-body form .btn-default,
#dashboard .panel-default .panel-body form .btn-info,
#dashboard .panel-default .panel-body form .btn-primary,
#dashboard .panel-default .panel-body form .btn-success,
#dashboard .panel-default .panel-body form .btn-warning {
  padding: 10px 20px;
  text-transform: uppercase;
  border: 0;
  -webkit-transition: padding .15s ease-in .15s;
     -moz-transition: padding .15s ease-in .15s;
       -o-transition: padding .15s ease-in .15s;
          transition: padding .15s ease-in .15s;
}
#dashboard .panel-default .panel-body form .btn-danger:hover,
#dashboard .panel-default .panel-body form .btn-default:hover,
#dashboard .panel-default .panel-body form .btn-info:hover,
#dashboard .panel-default .panel-body form .btn-primary:hover,
#dashboard .panel-default .panel-body form .btn-success:hover,
#dashboard .panel-default .panel-body form .btn-warning:hover {
  padding: 10px 30px;
  outline: 0;
  -webkit-transition: padding .5s ease-out .5s;
     -moz-transition: padding .5s ease-out .5s;
       -o-transition: padding .5s ease-out .5s;
          transition: padding .5s ease-out .5s;
}
#dashboard .panel-default .panel-body form .btn-icon-download:after,
#dashboard .panel-default .panel-body form .btn-icon-preview:after,
#dashboard .panel-default .panel-body form .btn-icon-send:after {
  padding-left: 10px;
  font-family: 'fontAwesome';
  font-size: 20px;
}
#dashboard .panel-default .panel-body form .btn-icon-send:after {
  content: '\f1d8';
}
#dashboard .panel-default .panel-body form .btn-icon-preview:after {
  content: '\f06e';
}
#dashboard .panel-default .panel-body form .btn-icon-download:after {
  content: '\f0ed';
}
#dashboard .panel-default .panel-body .button-group {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  background-color: #e9eaed;
  border: none;
  border-top: 1px solid #ccc;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
#dashboard .panel-default .panel-body .button-group a {
  text-align: center;
  text-decoration: none;
}
#dashboard .panel-default .panel-body .button-group p {
  margin: 10px 0;
  color: #616676;
  text-align: center;
  text-transform: uppercase;
}
#dashboard .panel-default .panel-body .button-group p span {
  padding: 5px 20px;
  background-color: #e9eaed;
}
#dashboard .panel-default .panel-body .button-group p + hr {
  height: 1px;
  margin: -20px 0 20px;
  border-top: 1px solid #cdcfd6;
}
#dashboard .panel-default .panel-body .table {
  margin: 20px 0 !important;
  font-size: 13px;
  background-color: #fff;
  border-color: #ccc;
}
#dashboard .panel-default .panel-body .table thead tr th {
  vertical-align: middle;
  border-color: #ccc;
  border-bottom: 1px solid #ccc;
}
#dashboard .panel-default .panel-body .table tbody tr td {
  vertical-align: middle;
  border-color: #ccc;
}
#dashboard .panel-default .panel-body .table tbody tr td .btn {
  text-transform: uppercase;
}
#dashboard .panel-default .panel-body .table tbody tr td .btn-danger-custom {
  display: inline;
  padding: .3em .6em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  color: #d9534f;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #f9e2e2;
  border: 1px solid #e7908e;
  border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#dashboard .panel-default .panel-body .table tbody tr td .btn-danger-custom:hover {
  color: #fff;
  background-color: #d9534f;
  border: 1px solid #d9534f;
}
#dashboard .panel-default .panel-body .table tbody tr td .btn-primary-custom {
  display: inline;
  padding: .3em .6em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  color: #337ab7;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #dbe9f5;
  border: 1px solid #77acd9;
  border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#dashboard .panel-default .panel-body .table tbody tr td .btn-primary-custom:hover {
  color: #fff;
  background-color: #337ab7;
  border: 1px solid #337ab7;
}
#dashboard .panel-default .panel-body .table tbody tr td .btn-success-custom {
  display: inline;
  padding: .3em .6em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  color: #5cb85c;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #d8eed8;
  border: 1px solid #91cf91;
  border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#dashboard .panel-default .panel-body .table tbody tr td .btn-success-custom:hover {
  color: #fff;
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
}
#dashboard .panel-default .panel-body .table tbody tr td .btn-warning-custom {
  display: inline;
  padding: .3em .6em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  color: #f0ad4e;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #fef9f3;
  border: 1px solid #f6ce95;
  border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#dashboard .panel-default .panel-body .table tbody tr td .btn-warning-custom:hover {
  color: #fff;
  background-color: #f0ad4e;
  border: 1px solid #f0ad4e;
}
#dashboard .panel-default .panel-body .table tbody tr td .label {
  padding: 5px 8px;
  font-weight: 400;
  text-transform: uppercase;
  border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
#dashboard .panel-default .panel-body .table tbody tr td .label-primary {
  color: #2d6da3;
  background-color: #b3d0ea;
  border-left: 4px solid #3b87c8;
}
#dashboard .panel-default .panel-body .table tbody tr td .label-success {
  color: #4cae4c;
  background-color: #d8eed8;
  border-left: 4px solid #6ec06e;
}
#dashboard .panel-default .panel-body .table tbody tr td .label-danger {
  color: #d43f3a;
  background-color: #f9e2e2;
  border-left: 4px solid #de6764;
}
#dashboard .panel-default .panel-body .table tbody tr td .label-warning {
  color: #eea236;
  background-color: #fceedb;
  border-left: 4px solid #f2b866;
}
#dashboard .panel-default .panel-body .table tbody tr td:first-child {
  text-align: center;
}
#dashboard .panel-default .panel-body .table tbody tr td:nth-last-child(2), #dashboard .panel-default .panel-body .table tbody tr td:nth-last-child(1) {
  text-align: center;
}
#dashboard .panel-default .panel-body .table tbody tr td:nth-last-child(2) a, #dashboard .panel-default .panel-body .table tbody tr td:nth-last-child(1) a {
  display: block;
  color: #ccc;
}
#dashboard .panel-default .panel-body .table tbody tr td:nth-last-child(2) a:hover, #dashboard .panel-default .panel-body .table tbody tr td:nth-last-child(2) a:focus, #dashboard .panel-default .panel-body .table tbody tr td:nth-last-child(2) a:active {
  color: #337ab7;
}
#dashboard .panel-default .panel-body .table tbody tr td:nth-last-child(1) a:hover, #dashboard .panel-default .panel-body .table tbody tr td:nth-last-child(1) a:focus, #dashboard .panel-default .panel-body .table tbody tr td:nth-last-child(1) a:active {
  color: #d9534f;
}
#dashboard .panel-default .panel-body .table tbody tr:hover td:nth-last-child(2) a, #dashboard .panel-default .panel-body .table tbody tr:focus td:nth-last-child(2) a, #dashboard .panel-default .panel-body .table tbody tr:active td:nth-last-child(2) a {
  color: #337ab7;
}
#dashboard .panel-default .panel-body .table tbody tr:hover td:nth-last-child(1) a, #dashboard .panel-default .panel-body .table tbody tr:focus td:nth-last-child(1) a, #dashboard .panel-default .panel-body .table tbody tr:active td:nth-last-child(1) a {
  color: #d9534f;
}
#dashboard .panel-default .panel-body .alert {
  border: none;
  border-left: 3px solid;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Footer*/
footer {
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/* Chart */
#chart-wrapper .panel-default {
  border-color: #ccc;
}
#chart-wrapper .panel-default .panel-heading {
  font-weight: 700;
  color: rgba(0, 0, 0, .6);
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid #ccc;
}
#chart-wrapper .panel-default .panel-body {
  padding: 0;
}

/* Ajax preloader */
#ajax-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 100%;
  background-color: rgba(255, 255, 255, .75);
  transform: translate(-50%, -50%);
}
#ajax-preloader p {
  padding: 10px 0;
  line-height: 0;
  color: #777;
  text-align: center;
}
#ajax-preloader p:before {
  font-size: 36px;
  content: '\E863';
  -webkit-animation: spin 1s infinite linear;
     -moz-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

/* Table Tools */
.panel-heading .btn-group-wrapper {
  margin-top: -10px;
}
.panel-heading .btn-group-wrapper .btn-group .btn {
  display: inline-block;
  padding: 10px;
  border-top: none;
  border-bottom: none;
}
.panel-heading .btn-group-wrapper .btn-group .btn:first-child {
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.panel-heading .btn-group-wrapper .btn-group .btn:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Data Tables */
#datatables thead th {
  border-color: #ddd;
}
#datatables tbody tr td {
  max-width: 100px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
  white-space: nowrap;
  border-color: #ddd;

   -o-text-overflow: ellipsis;
}
#datatables tbody tr td input[type="checkbox"] {
  border: 1px solid #f00;
}
#datatables tbody tr td:before {
  content: '';
}
#datatables tfoot th {
  border-color: #ddd;
}

div.dataTables_wrapper {
  margin: 20px;
  clear: both;
}
div.dataTables_wrapper .dataTables_filter input:before {
  content: 'hello';
}
div.dataTables_wrapper .pagination li a {
  outline: 0;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  font-family: 'fontAwesome';
  font-weight: 100;
  opacity: .75;
}

table.dataTable thead .sorting:after {
  content: "\f07d";
  opacity: .50;
}

table.dataTable thead .sorting_asc:after {
  content: "\f15d";
}

table.dataTable thead .sorting_desc:after {
  content: "\f15e";
}

/* Rounded Button */
.btn-rounded-corner {
  border-top-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

/* Modal */
.modal {
  z-index: 2000;
}
.modal .modal-content {
  border: none;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0 transparent;
}
.modal .modal-content .modal-header {
  padding: 10px 15px;
  color: #fff;
  text-shadow: 0 0 1px #285f8f;
  background-color: #22527b;
  border-bottom: none;
}
.modal .modal-content .modal-header .close {
  position: absolute;
  top: 8px;
  right: 0;
  margin-right: 15px;
  font-size: 30px;
  font-weight: normal;
  text-shadow: 0 0 0 transparent;
  filter: alpha(opacity=25);
  opacity: .25;
}
.modal .modal-content .modal-header .close:hover {
  color: #337ab7;
  filter: alpha(opacity=100);
  opacity: 1;
}
.modal .modal-content .modal-header .modal-title {
  text-transform: uppercase;
}
.modal .modal-content .modal-header .modal-title i {
  filter: alpha(opacity=50);
  opacity: .50;
}
.modal .modal-content .modal-body input,
.modal .modal-content .modal-body select,
.modal .modal-content .modal-body textarea {
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0 transparent;
}
.modal .modal-content .modal-body .form-group .input-group .form-control,
.modal .modal-content .modal-body .form-group .input-group .input-group-addon,
.modal .modal-content .modal-body .form-group .input-group input,
.modal .modal-content .modal-body .form-group .input-group select {
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0 transparent;
}
.modal .modal-content .modal-body #access-code input {
  padding: 30px 0;
  font-size: 36px;
  line-height: 36px;
  color: #df8a13;
  text-align: center;
  background-color: #fceedb;
  border: 1px solid #f8d9ac;
}
.modal .modal-content .modal-body #access-code.has-error input {
  color: #d9534f;
  background-color: transparent;
  border: 1px solid #d9534f;
}
.modal .modal-content .modal-body .alert {
  margin-top: 0;
  border: none;
  border-left: 3px solid;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.modal .modal-content .modal-body .alert h1,
.modal .modal-content .modal-body .alert h2,
.modal .modal-content .modal-body .alert h3,
.modal .modal-content .modal-body .alert h4,
.modal .modal-content .modal-body .alert h5,
.modal .modal-content .modal-body .alert h6 {
  margin-top: 0;
}
.modal .modal-content .modal-body .alert ol,
.modal .modal-content .modal-body .alert ul {
  padding-left: 20px;
  margin-bottom: 20px;
}
.modal .modal-content .modal-body .alert .validation-errors {
  padding-left: 20px;
  margin: 0;
}
.modal .modal-content .modal-footer {
  background-color: #f7f7f8;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Mandatory field */
.important,
.optional {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 100;
}

.important {
  color: #d9534f;
}

/* Optional */
.optional {
  color: #737373;
}

/* Alert */
.alert {
  border: none;
  border-left: 3px solid;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.alert .validation-errors {
  padding-left: 20px;
  margin: 10px 0;
}

/* Box shadow effects */
.box-shadow-effect::after,
.box-shadow-effect::before {
  position: absolute;
  top: 80%;
  bottom: 15px;
  left: 10px;
  z-index: -1;
  width: 50%;
  max-width: 300px;
  content: "";
  background-color: #777;
  box-shadow: 0 15px 10px #999;
  transform: rotate(-3deg);
}

.box-shadow-effect::after {
  right: 10px;
  left: auto;
  transform: rotate(3deg);
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2d6da3;
}
::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-thumb:hover {
  background-color: #285f8f;
}

::-webkit-scrollbar-track {
  background-color: #b3d0ea;
}
::-webkit-scrollbar-track:active, ::-webkit-scrollbar-track:hover {
  background-color: #b3d0ea;
}

::-webkit-scrollbar-corner {
  background-color: #122a3f;
}

/* Substring matching attribute selector */
h1 + hr {
  margin: -18px 0 20px;
}

h2 + hr {
  margin: -17px 0 20px;
}

h3 + hr {
  margin: -16px 0 20px;
}

h4 + hr {
  margin: -15px 0 20px;
}

h5 + hr {
  margin: -12px 0 20px;
}

h6 + hr {
  margin: -11px 0 20px;
}

/* Caret */
.arrow, .arrow-up, .arrow-down, .arrow-left, .arrow-right {
  width: 0;
  height: 0;
  vertical-align: middle;
  background: transparent;
}

.arrow-up {
  border-top: 0 transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #337ab7;
  border-left: 10px solid transparent;
}

.arrow-down {
  border-top: 10px solid #337ab7;
  border-right: 10px solid transparent;
  border-bottom: 0 transparent;
  border-left: 10px solid transparent;
}

.arrow-left {
  border-top: 10px solid transparent;
  border-right: 10px solid #337ab7;
  border-bottom: 10px solid transparent;
  border-left: 0 transparent;
}

.arrow-right {
  border-top: 10px solid transparent;
  border-right: 0 transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #337ab7;
}

/* DateTime Picker */
.xdsoft_datetimepicker {
  border: 1px solid #63a0d4 !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  background: #337ab7 !important;
  box-shadow: 0 0 0 transparent;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  background: #5cb85c !important;
}

.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current {
  background: #337ab7 !important;
  box-shadow: 0 0 0 transparent;
}

.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover {
  background: #5cb85c !important;
}

/* Media Queries */
@media (max-width: 720px) {
  #signin, #db-config {
    padding: 10px 20px;
  }

  #navbar-wrapper .navbar-toggle {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    vertical-align: middle;
  }
  #navbar-wrapper .navbar-collapse {
    border: none;
    box-shadow: 0 0 0 transparent;
  }
}
/* DB Config */
#db-config {
  margin-top: 45px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
#db-config h3 {
  text-transform: uppercase;
}
#db-config form .well {
  background-color: transparent;
  border: none;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0 transparent;
}
#db-config form .well .form-group .form-control {
  box-shadow: 0 0 0 transparent;
}
#db-config form .well .form-group .form-control + span {
  background-color: transparent;
  border-left: none;
}
#db-config form .well .form-group .form-control + span:active, #db-config form .well .form-group .form-control + span:focus {
  outline: none;
}
#db-config form .well .form-group:last-child {
  margin-bottom: 0;
}
#db-config form button {
  margin: 20px 0;
  color: #fff;
  text-transform: uppercase;
  border: 0;
}
#db-config form button:active, #db-config form button:focus {
  outline: 0;
}
#db-config form button:hover:after {
  -webkit-animation: slide 1s infinite linear;
     -moz-animation: slide 1s infinite linear;
          animation: slide 1s infinite linear;
}
#db-config form button:after {
  padding-left: 10px;
  font-family: 'fontAwesome';
  content: '\f105';
}
#db-config form button:disabled:after {
  content: '';
}

/*# sourceMappingURL=style.css.map */
